html {
  width: 100%;
  height: 100%;
  top: 50%;
}

body {
  width: 100%;
  height: 100%;
  top: 50%;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  top: 50%;
}

.App {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  top: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.search-dev {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

.label-search-dev {
  color: #3b4252;
  font-family: Lato;
  font-size: 40px;
  font-style: italic;
  line-height: 50px;
  text-align: center;
}

.input-search-dev {
  background-color: #ffffff;
  border: 1px solid #3b4252;
  border-radius: 5px;
  color: #8190a5;
  font-family: Lato;
  font-size: 18px;
  font-style: italic;
  line-height: 62px;
  width: 400px;
  text-align: left;
}

.btn-search-dev {
  background-color: #47525e;
  border-radius: 5px;
  color: #eceff4;
  font-family: Lato;
  font-size: 22px;
  font-style: italic;
  line-height: 62px;
  width: 120px;
  text-align: center;
}
