html {
  width: 100%;
  height: 100%;
  top: 50%;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  top: 50%;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#root {
  width: 100%;
  height: 100%;
  top: 50%;
}

.App {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  top: 50%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #e5e9f2;
  border-radius: 500px;
  width: 12px;
}

/* ----------------------- App CSS -----------------------*/
.search-dev {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.label-search-dev {
  color: #3b4252;
  font-family: Lato;
  font-size: 40px;
  font-style: italic;
  line-height: 50px;
  text-align: center;
}

.input-search-dev {
  background-color: #ffffff;
  border: 1px solid #3b4252;
  border-radius: 5px;
  color: #8190a5;
  font-family: Lato;
  font-size: 18px;
  font-style: italic;
  line-height: 62px;
  width: 400px;
  text-align: left;
}

.btn-search-dev {
  background-color: #47525e;
  border-radius: 5px;
  color: #eceff4;
  font-family: Lato;
  font-size: 22px;
  font-style: italic;
  line-height: 62px;
  width: 120px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* ----------------------- Search Dev CSS -----------------------*/

.profile-dev {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  grid-template-rows: 5vh 75vh;
  grid-template-areas:
    "sidebar main"
    "sidebar main"
    "sidebar main";
}

.sidebar-profile-dev {
  grid-area: sidebar;
  background-color: #3b4252;
  padding-top: 30px;
  font-family: Lato;
  display: flex;
  flex-direction: column;
}

.dev-profile-picture {
  width: 270px;
  height: 270px;
  background-color: #c0ccda;
  align-self: center;
}

.dev-full-name {
  padding-top: 30px;
  padding-left: 10px;
  font-style: italic;
  text-align: left;
  font-size: 25px;
  color: #eceff4;
}

.dev-username {
  padding-left: 10px;
  font-style: italic;
  text-align: left;
  color: #eceff4;
}

.dev-description {
  padding-top: 10px;
  color: #8190a5;
  text-align: left;
  padding-left: 10px;
}

.dev-data {
  padding-top: 10px;
  color: #eceff4;
  font-size: 12px;
  flex-direction: row;
}

.dev-infos {
  color: #eceff4;
  text-align: left;
  padding-left: 10px;
  font-style: italic;
}

.blog-url {
  text-decoration: none;
  color: #eceff4;
}

.blog-url:hover {
  text-decoration: none;
  color: #8190a5;
}

.twitter-username {
  text-decoration: none;
  color: #eceff4;
}

.twitter-username:hover {
  text-decoration: none;
  color: #8190a5;
}

.profile-go-back {
  width: 125px;
  height: 50px;
  background-color: #eceff4;
  border-radius: 5px;
  color: #3b4252;
  font-style: italic;
  text-align: center;
  border: none;
}

.repositories-profile-dev {
  overflow-y: scroll;
  height: 100vw;
}

.repositories-profile-dev > div {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 20px;
  padding-left: 20px;
  font-family: Lato;
  color: #3b4252;
}

.repository-name {
  font-style: italic;
  text-decoration: none;
  color: #3b4252;
}

.repository-name:hover {
  font-style: italic;
  text-decoration: none;
  color: #8190a5;
}

.repository-description {
  text-align: left;
  font-family: Lato;
  color: #3b4252;
}

.repository-data {
  font-style: italic;
  color: #8190a5;
  text-align: left;
}

.separator {
  margin-top: 9px;
  border: 1px solid #eceff4;
  width: 700px;
}

/* ----------------------- Dev Profile CSS -----------------------*/
